<div class="sidebar-nav">

  <div class="topics">
    <!-- <h4>Topics</h4> -->
      <ul class="topic-list filters-button-group">
      <% @sidebar_topics.each do |topic| %>
        <li class="topic-item"><button data-filter=".<%= topic.id %>" ><%= topic.title %></button></li>
      <% end %>
      <li class="topic-item" data-filter="*"><button>All</button></li>
      <ul>
  </div>

  



</div>